<div>
  <div>
    <h2>
      {{ item.Titulo }}
    </h2>
    <h2>{{ item.Autor }}</h2>
    <h3>{{ item.year }}</h3>
    <p>{{ item.Saga }}</p>
    <p>{{ item.Categoria }}</p>

    <img
      src="{{ item.image }}"
      class="list-content"
      [routerLink]="['/detail', item.id]"
    />
    <!--<button (click)="(goBack)">volver</button>-->
  </div>
</div>

<!--<button (click)="votarLibro()">Vota</button>
 
    <p>
      <button (click)="setMasVoto()">{{ itemBooks.year }}</button>
    </p>
    <p>
      <button (click_B)="SetMenosVoto()">{{ itemBooks.year }}</button>
    </p>
    -->
<!-- <button ng-click="count = count + 1" ng-init="count=0">Vota</button>
    <p>me gusta {{ count }} votos.</p>-->
<!--*ngFor -->
