nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
img {
  max-width: 100px;
  display: flex;
  max-width: 100px;
}
.nav-links {
  margin: 10px;
}
ul {
  display: flex;
  color: gold;
  text-shadow: 3px -3px 5px rgb(11, 172, 11);
  list-style: none;
  padding: 5px;
}

li {
  margin: 5px;
  padding: 10px;
}

h1 {
  color: gold;
  text-shadow: 3px -3px 5px rgb(11, 172, 11);
  font-style: italic;
  font-size: 40px;
}
