<nav>
  <img src="{{ imageLogo }}" alt="{{ altLogo }}" />

  <h1>El Rincon de Iván</h1>
  <div class="nav-links">
    <ul>
      <li routerLink="/home">Home</li>
      <li routerLink="/books">Books</li>
      <li routerLink="/about">About</li>
    </ul>
  </div>
</nav>
