<app-home-titulo [titulo]="titulo"></app-home-titulo>
<app-home-definicion></app-home-definicion>
<img
  src="https://i.pinimg.com/originals/b3/4f/0e/b34f0e3e3e5955979814016a01b99344.jpg"
  alt=""
/>
